<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anchetas</title>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="preload" href="../styles/estilo.css">   
    <link rel="stylesheet" href="../styles/estilo.css">
</head>

</head>
<body>
    <header>
        <div class="nav-bar">
            <div class="icono">
                <img src="img/logo.png" alt="">
            </div>
            <div class="opciones">
                <li>
                    <ul> <a href="../index.html"> <p>Inicio</p> </a></ul>
                    <ul> <a href="../views/achentas.html"> <p>Productos</p> </a></ul>
                    <ul> <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p></ul>
                </li>
            </div>
        </div>
    </header>
    <main>
    <section> 
        <div class="f-card">
            <div class="c-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmQqNKIbiNhytRIqjbLKqvbI9_ealcC2nflA&s" alt="xd">
                <h3> producto </h3>
                <h3>Precio:</h3>
            </div>
            <div class="c-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmQqNKIbiNhytRIqjbLKqvbI9_ealcC2nflA&s" alt="xd">
                <h3> producto</h3>
                <h3>Precio:</h3>
            </div>
            <div class="c-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmQqNKIbiNhytRIqjbLKqvbI9_ealcC2nflA&s" alt="xd">
                <h3> producto</h3>
                <h3>Precio:</h3>
            </div>
            <div class="c-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmQqNKIbiNhytRIqjbLKqvbI9_ealcC2nflA&s" alt="xd">
                <h3> producto</h3>
                <h3>Precio:</h3>
            </div>
        </div>
        <div class="f-card">
            <div class="c-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmQqNKIbiNhytRIqjbLKqvbI9_ealcC2nflA&s" alt="xd">
                <h3> producto </h3>
                <h3>Precio:</h3>
            </div>
            <div class="c-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmQqNKIbiNhytRIqjbLKqvbI9_ealcC2nflA&s" alt="xd">
                <h3> producto</h3>
                <h3>Precio:</h3>
            </div>
            <div class="c-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmQqNKIbiNhytRIqjbLKqvbI9_ealcC2nflA&s" alt="xd">
                <h3> producto</h3>
                <h3>Precio:</h3>
            </div>
            <div class="c-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmQqNKIbiNhytRIqjbLKqvbI9_ealcC2nflA&s" alt="xd">
                <h3> producto</h3>
                <h3>Precio:</h3>
            </div>
        </div>
    </section>
    </main>
    <footer>    
        <div class="row-f">
            <div class="column-f">
                <h3> Horario de atención</h3>
                <p> 10 AM a 9 PM </p>
                <p> Lunes a Sabado </p> 
                <br>
                <h3> Dirrecion del local</h3>
                <p>Calle 58 #61-35</p>
                <p>Bello, Antioquia </p>
                
            </div>
            <div class="column-f">
                <h3>Soporte</h3>
                <h5>Telefono:</h5> 
                <p>+57 310 8492343</p>
            </div>
            <div class="column-f">
                <h3>Siguenos en:</h3>
                <a href="https://www.instagram.com/amiguistienda?igsh=bWluZzQ2OXBwMnVu" target="_blank"><img src="../img/instagram.png" alt="" class="red"></a>
            </div>
        </div>
    </footer>
</body>
</html>