<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anchetas</title>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="preload" href="../styles/estilo.css">   
    <link rel="stylesheet" href="../styles/estilo.css">
</head>

</head>
<body>
    <header>
        <div class="nav-bar">
            <div class="icono">
                <img src="../img/logo.png" alt="">
            </div>
            <div class="opciones">
                <li>
                    <ul> <a href="../index.html"> <p>Inicio</p> </a></ul>
                    <ul> <a href="../views/accesorios.html"> <p>Accesorios</p> </a></ul>
                    <ul> <a href="../views/achentas.html"> <p>Anchetas</p> </a> </ul>
                </li>
            </div>
        </div>
        <hr>
    </header>
    <main>
    <section>   
        <div class="row-f categorias"> 
            <div> 
                <a href="#Generales">Generales</a>
                <a href="#Desayunos">Desayunos</a>
                <a href="#temporada"> Temporada</a>
            </div>
        </div>
    </section>
    <section> 
        <h2 id="Generales"> Generales </h2>
        <div class="f-card">
            <div class="c-card">
                <a href="#openModal">
                    <img src="../img/anchetas/ancheta_1.jpg" alt="xd">
                    <h3> Producto</h3>
                    <h3>Precio:</h3>
                   
                </a>
            </div>
            <div id="openModal" class="modalDialog">
                <div class="row-modal">
                    <div class="column-modal">
                        <img src="../img/anchetas/ancheta_6.jpg" alt="xd">
                    </div>
                    <div class="column-modal">
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>Producto</h2>
                        <p>Descripción Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quasi ullam quo fugit cumque dolorem unde. Quo eos, ea aut eveniet quos quisquam, excepturi natus, illo consequuntur voluptate dignissimos corporis?</p>
                        <p>55k</p>
                        <div class="categorias"> 
                            <a id="btnpagar">Pagar</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="c-card">
                <a href="#openModa2">
                <img src="../img/anchetas/ancheta_2.jpg" alt="xd">
                <h3> Producto</h3>
                <h3>Precio:</h3>
                </a>
            </div>
            
            <div id="openModa2" class="modalDialog">
                <div class="row-modal">
                    <div class="column-modal">
                        <img src="../img/anchetas/ancheta_6.jpg" alt="xd">
                    </div>
                    <div class="column-modal">
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>Producto</h2>
                        <p>Descripción Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quasi ullam quo fugit cumque dolorem unde. Quo eos, ea aut eveniet quos quisquam, excepturi natus, illo consequuntur voluptate dignissimos corporis?</p>
                        <p>55k</p>
                        <div class="categorias"> 
                            <a id="btnpagar">Pagar</a>
                        </div>
                    </div>
                    
                </div>
            </div>


            <div class="c-card">
                <a href="#openModa3">
                <img src="../img/anchetas/ancheta_3.jpg" alt="xd">
                <h3> Producto</h3>
                <h3>Precio:</h3>
                </a>
            </div>
            <div id="openModa3" class="modalDialog">
                <div class="row-modal">
                    <div class="column-modal">
                        <img src="../img/anchetas/ancheta_6.jpg" alt="xd">
                    </div>
                    <div class="column-modal">
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>Producto</h2>
                        <p>Descripción Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quasi ullam quo fugit cumque dolorem unde. Quo eos, ea aut eveniet quos quisquam, excepturi natus, illo consequuntur voluptate dignissimos corporis?</p>
                        <p>55k</p>
                        <div class="categorias"> 
                            <a id="btnpagar">Pagar</a>
                        </div>
                    </div>
                    
                </div>
            </div>



            <div class="c-card">
                <a href="#openModa4"> 
                <img src="../img/anchetas/ancheta_4.jpg" alt="xd">
                <h3> Producto</h3>
                <h3>Precio:</h3>
            </a>
            </div>
            <div id="openModa4" class="modalDialog">
                <div class="row-modal">
                    <div class="column-modal">
                        <img src="../img/anchetas/ancheta_6.jpg" alt="xd">
                    </div>
                    <div class="column-modal">
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>Producto</h2>
                        <p>Descripción Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quasi ullam quo fugit cumque dolorem unde. Quo eos, ea aut eveniet quos quisquam, excepturi natus, illo consequuntur voluptate dignissimos corporis?</p>
                        <p>55k</p>
                        <div class="categorias"> 
                            <a id="btnpagar">Pagar</a>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>



        <h2 id="Desayunos">Desayunos</h2>
        <div class="f-card">
            <div class="c-card">
                <a href="#openModa5">
                    <img src="../img/anchetas/ancheta_1.jpg" alt="xd">
                    <h3> Producto</h3>
                    <h3>Precio:</h3>
                   
                </a>
            </div>
            <div id="openModa5" class="modalDialog">
                <div class="row-modal">
                    <div class="column-modal">
                        <img src="../img/anchetas/ancheta_6.jpg" alt="xd">
                    </div>
                    <div class="column-modal">
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>Producto</h2>
                        <p>Descripción Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quasi ullam quo fugit cumque dolorem unde. Quo eos, ea aut eveniet quos quisquam, excepturi natus, illo consequuntur voluptate dignissimos corporis?</p>
                        <p>55k</p>
                        <div class="categorias"> 
                            <a id="btnpagar">Pagar</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="c-card">
                <a href="#openModa6">
                <img src="../img/anchetas/ancheta_2.jpg" alt="xd">
                <h3> Producto</h3>
                <h3>Precio:</h3>
                </a>
            </div>
            
            <div id="openModa6" class="modalDialog">
                <div class="row-modal">
                    <div class="column-modal">
                        <img src="../img/anchetas/ancheta_6.jpg" alt="xd">
                    </div>
                    <div class="column-modal">
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>Producto</h2>
                        <p>Descripción Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quasi ullam quo fugit cumque dolorem unde. Quo eos, ea aut eveniet quos quisquam, excepturi natus, illo consequuntur voluptate dignissimos corporis?</p>
                        <p>55k</p>
                        <div class="categorias"> 
                            <a id="btnpagar">Pagar</a>
                        </div>
                    </div>
                    
                </div>
            </div>


            <div class="c-card">
                <a href="#openModa7">
                <img src="../img/anchetas/ancheta_3.jpg" alt="xd">
                <h3> Producto</h3>
                <h3>Precio:</h3>
                </a>
            </div>
            <div id="openModa7" class="modalDialog">
                <div class="row-modal">
                    <div class="column-modal">
                        <img src="../img/anchetas/ancheta_6.jpg" alt="xd">
                    </div>
                    <div class="column-modal">
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>Producto</h2>
                        <p>Descripción Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quasi ullam quo fugit cumque dolorem unde. Quo eos, ea aut eveniet quos quisquam, excepturi natus, illo consequuntur voluptate dignissimos corporis?</p>
                        <p>55k</p>
                        <div class="categorias"> 
                            <a id="btnpagar">Pagar</a>
                        </div>
                    </div>
                    
                </div>
            </div>



            <div class="c-card">
                <a href="#openModa8"> 
                <img src="../img/anchetas/ancheta_4.jpg" alt="xd">
                <h3> Producto</h3>
                <h3>Precio:</h3>
            </a>
            </div>
            <div id="openModa8" class="modalDialog">
                <div class="row-modal">
                    <div class="column-modal">
                        <img src="../img/anchetas/ancheta_6.jpg" alt="xd">
                    </div>
                    <div class="column-modal">
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>Producto</h2>
                        <p>Descripción Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quasi ullam quo fugit cumque dolorem unde. Quo eos, ea aut eveniet quos quisquam, excepturi natus, illo consequuntur voluptate dignissimos corporis?</p>
                        <p>55k</p>
                        <div class="categorias"> 
                            <a id="btnpagar">Pagar</a>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>






        <h2 id="temporada">Temporada</h2>
        <div class="f-card">
            <div class="c-card">
                <a href="#openModa9">
                    <img src="../img/anchetas/ancheta_1.jpg" alt="xd">
                    <h3> Producto</h3>
                    <h3>Precio:</h3>
                   
                </a>
            </div>
            <div id="openModa9" class="modalDialog">
                <div class="row-modal">
                    <div class="column-modal">
                        <img src="../img/anchetas/ancheta_6.jpg" alt="xd">
                    </div>
                    <div class="column-modal">
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>Producto</h2>
                        <p>Descripción Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quasi ullam quo fugit cumque dolorem unde. Quo eos, ea aut eveniet quos quisquam, excepturi natus, illo consequuntur voluptate dignissimos corporis?</p>
                        <p>55k</p>
                        <div class="categorias"> 
                            <a id="btnpagar">Pagar</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="c-card">
                <a href="#openModa10">
                <img src="../img/anchetas/ancheta_2.jpg" alt="xd">
                <h3> Producto</h3>
                <h3>Precio:</h3>
                </a>
            </div>
            
            <div id="openModa10" class="modalDialog">
                <div class="row-modal">
                    <div class="column-modal">
                        <img src="../img/anchetas/ancheta_6.jpg" alt="xd">
                    </div>
                    <div class="column-modal">
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>Producto</h2>
                        <p>Descripción Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quasi ullam quo fugit cumque dolorem unde. Quo eos, ea aut eveniet quos quisquam, excepturi natus, illo consequuntur voluptate dignissimos corporis?</p>
                        <p>55k</p>
                        <div class="categorias"> 
                            <a id="btnpagar">Pagar</a>
                        </div>
                    </div>
                    
                </div>
            </div>


            <div class="c-card">
                <a href="#openModa11">
                <img src="../img/anchetas/ancheta_3.jpg" alt="xd">
                <h3> Producto</h3>
                <h3>Precio:</h3>
                </a>
            </div>
            <div id="openModa11" class="modalDialog">
                <div class="row-modal">
                    <div class="column-modal">
                        <img src="../img/anchetas/ancheta_6.jpg" alt="xd">
                    </div>
                    <div class="column-modal">
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>Producto</h2>
                        <p>Descripción Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quasi ullam quo fugit cumque dolorem unde. Quo eos, ea aut eveniet quos quisquam, excepturi natus, illo consequuntur voluptate dignissimos corporis?</p>
                        <p>55k</p>
                        <div class="categorias"> 
                            <a id="btnpagar">Pagar</a>
                        </div>
                    </div>
                    
                </div>
            </div>



            <div class="c-card">
                <a href="#openModa12"> 
                <img src="../img/anchetas/ancheta_4.jpg" alt="xd">
                <h3> Producto</h3>
                <h3>Precio:</h3>
            </a>
            </div>
            <div id="openModa12" class="modalDialog">
                <div class="row-modal">
                    <div class="column-modal">
                        <img src="../img/anchetas/ancheta_6.jpg" alt="xd">
                    </div>
                    <div class="column-modal">
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>Producto</h2>
                        <p>Descripción Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quasi ullam quo fugit cumque dolorem unde. Quo eos, ea aut eveniet quos quisquam, excepturi natus, illo consequuntur voluptate dignissimos corporis?</p>
                        <p>55k</p>
                        <div class="categorias"> 
                            <a id="btnpagar">Pagar</a>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>

        
    </section>
    </main>
    <footer>  
        <hr>  
        <div class="row-f">
            <div class="column-f">
                <h3> Horario de atención</h3>
                <p> 10 AM a 9 PM </p>
                <p> Lunes a Sabado </p> 
                <br>
                <h3> Dirrecion del local</h3>
                <p>Calle 58 #61-35</p>
                <p>Bello, Antioquia </p>
                
            </div>
            <div class="column-f">
                <h3>Soporte</h3>
                <h5>Telefono:</h5> 
                <p>+57 310 8492343</p>
            </div>
            <div class="column-f">
                <h3>Siguenos en:</h3>
                <div class="red">
                    <a href="https://www.instagram.com/amiguistienda?igsh=bWluZzQ2OXBwMnVu" target="_blank"><img src="../img/instagram.png" alt="" class="red"></a>
                    <a href="https://wa.me/573108492343" target="_blank" ><img src="../img/whatsapp.png" alt="" srcset="" class="red"></a>
                </div>
                
            </div>
        </div>
    </footer>
</body>
</html>